.u-section-1 .u-sheet-1 {
  min-height: 940px;
}

.u-section-1 .u-text-1 {
  margin: 256px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 466px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 16px auto 24px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}